<!doctype html>
<html lang="en">
    <!-- Reveal JS presentation, see license at end -->
    <head>
        <meta charset="utf-8">

        <title>The London Django Meetup Group</title>

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

        <link rel="stylesheet" href="/css/reveal.css">
        <link rel="stylesheet" href="/css/theme/django.css" id="theme">

        <link rel="stylesheet" href="/lib/css/zenburn.css">

        <!-- Printing and PDF exports -->
        <script>
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = window.location.search.match( /print-pdf/gi ) ? '/css/print/pdf.css' : '/css/print/paper.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
        </script>

        <!--[if lt IE 9]>
        <script src="/lib/js/html5shiv.js"></script>
        <![endif]-->
        <style type="text/css" media="screen">
            ol {
                list-style-type: lower-alpha !important;
            }
            ol li.incorrect {
                opacity: 0.6;
            }
        </style>
    </head>

    <body>
        <div class="reveal">
            <div class="slides">

<!-- start presentation -->

<section>
    <h1>Django Quiz</h1>
    <h2>December 17th 2024</h2>
</section>

<section>
    <h1>🧐🫱✏️ Get ready</h1>
</section>

<section>
    <h1>🎬 Quiz Begin!</h1>
</section>


<section>
    <h2>1. What is the default port that <code>runserver</code> uses?</h2>
    <ol>
        <li>8080
        <li>8000
        <li>8888
        <li>404
    </ol>
</section>

<section>
    <h2>2. In which month of this year was Django 5.1 released?</h2>
    <ol>
        <li>May
        <li>August
        <li>October
        <li>Undecember
    </ol>
</section>

<section>
    <h2>3. What company initially developed Django?</h2>
    <ol>
        <li>Instagram
        <li>Mozilla
        <li>Lawrence Journal-World
        <li>ACME Web Frameworks Inc.
    </ol>
</section>

<section>
    <h2>4. What is the CSS selector that ORs a list of selectors?</h2>
    <ol>
        <li><code>:is()</code>
        <li><code>:or()</code>
        <li><code>:any()</code>
        <li><code>:is-one-of-these()</code>
    </ol>
</section>

<section>
    <h2>5. What is the name of the new middleware that requires authentication by default?</h2>
    <ol>
        <li><code>LoginRequiredMiddleware</code>
        <li><code>AuthenticationMiddleware</code>
        <li><code>PrivateEverywhereMiddleware</code>
        <li><code>FinallyNoMoreAccidentallyPublicViewsMiddleware</code>
    </ol>
</section>

<section>
    <h2>6. What is the name of the Django contributor accelerator program?</h2>
    <ol>
        <li>Djangonaut Space
        <li>Pony Express
        <li>Astronaut Django
        <li>All Djangoes Go
    </ol>
</section>

<section>
    <h2>7. Which model field would you use to store unbounded textual data?</h2>
    <ol>
        <li><code>CharField</code>
        <li><code>TextField</code>
        <li><code>BinaryField</code>
        <li><code>LongOrEvenInfiniteTextField</code>
    </ol>
</section>

<section>
    <h2>8. Which of these is not a real Django contributor team?</h2>
    <ol>
        <li>Accessibility
        <li>Oops
        <li>Security
        <li>Triage &amp; Review
    </ol>
</section>

<section>
    <h2>9. What is the new template tag to modify a URL’s query parameters?</h2>
    <ol>
        <li><code>{% alterqueryparams %}</code>
        <li><code>{% urlparams %}</code>
        <li><code>{% querystring %}</code>
        <li><code>{% q %}</code>
    </ol>
</section>

<section>
    <h2>10. Which class would extend to create a custom management command?</h2>
    <ol>
        <li><code>BaseCommand</code>
        <li><code>ManagePyCommand</code>
        <li><code>AdminCommand</code>
        <li><code>Custom</code>
    </ol>
</section>

<section>
    <h2>11. In which city will DjangoCon Europe 2025 be held?</h2>
    <ol>
        <li>Trondheim, Norway
        <li>Porto, Portugal
        <li>Dublin, Ireland
        <li>Canberra, Australia
    </ol>
</section>

<section>
    <h2>12. Which model class attribute contains the public API for metadata?</h2>
    <ol>
        <li><code>_meta</code>
        <li><code>meta</code>
        <li><code>Meta</code>
        <li><code>metadata_please</code>
    </ol>
</section>



<section>
    <h2>🫸 End of Questions 🫷</h2>
</section>


<section>
    <h1>🔄 Swap for marking! 🔄</h1>
</section>


<section>
    <h1>🔑 The Answers 📖</h1>
</section>


<section>
    <h2>1. What is the default port that <code>runserver</code> uses?</h2>
    <ol>
        <li class=incorrect>8080
        <li><strong>8000</strong>
        <li class=incorrect>8888
        <li class=incorrect>404
    </ol>
</section>

<section>
    <h2>2. In which month of this year was Django 5.1 released?</h2>
    <ol>
        <li class=incorrect>May
        <li><strong>August</strong>
        <li class=incorrect>October
        <li class=incorrect>Undecember
    </ol>
</section>

<section>
    <h2>3. What company initially developed Django?</h2>
    <ol>
        <li class=incorrect>Instagram
        <li class=incorrect>Mozilla
        <li><strong>Lawrence Journal-World</strong>
        <li class=incorrect>ACME Web Frameworks Inc.
    </ol>
    <p>A daily newspaper in Lawrence, Kansas.</p>
</section>

<section>
    <h2>4. What is the CSS selector that ORs a list of selectors?</h2>
    <ol>
        <li><strong><code>:is()</code></strong>
        <li class=incorrect><code>:or()</code>
        <li class=incorrect><code>:any()</code>
        <li class=incorrect><code>:is-one-of-these()</code>
    </ol>
    <pre class="lang-css"><code>/* Icons in headings */
:is(h1, h2, h3, h4, h5, h6) .icon {
    margin-inline: 0.5em;
}</code></pre>
</section>

<section>
    <h2>5. What is the name of the new middleware that requires authentication by default?</h2>
    <ol>
        <li><strong><code>LoginRequiredMiddleware</code></strong>
        <li class=incorrect><code>AuthenticationMiddleware</code>
        <li class=incorrect><code>PrivateEverywhereMiddleware</code>
        <li class=incorrect><code>FinallyNoMoreAccidentallyPublicViewsMiddleware</code>
    </ol>
</section>

<section>
    <h2>6. What is the name of the Django contributor accelerator program?</h2>
    <ol>
        <li><strong>Djangonaut Space</strong>
        <li class=incorrect>Pony Express
        <li class=incorrect>Astronaut Django
        <li class=incorrect>All Djangoes Go
    </ol>
    <p><a href=https://djangonaut.space/>djangonaut.space</a></p>
</section>

<section>
    <h2>7. Which model field would you use to store unbounded textual data?</h2>
    <ol>
        <li class=incorrect><code>CharField</code>
        <li><strong><code>TextField</code></strong>
        <li class=incorrect><code>BinaryField</code>
        <li class=incorrect><code>LongOrEvenInfiniteTextField</code>
    </ol>
</section>

<section>
    <h2>8. Which of these is not a real Django contributor team?</h2>
    <ol>
        <li class=incorrect>Accessibility
        <li><strong>Oops</strong>
        <li class=incorrect>Security
        <li class=incorrect>Triage &amp; Review
    </ol>
    <p>It’s <strong>Ops</strong>, for operations.</p>
</section>

<section>
    <h2>9. What is the new template tag to modify a URL’s query parameters?</h2>
    <ol>
        <li class=incorrect><code>{% alterqueryparams %}</code>
        <li class=incorrect><code>{% urlparams %}</code>
        <li><strong><code>{% querystring %}</code></strong>
        <li class=incorrect><code>{% q %}</code>
    </ol>
    <pre class="lang-django"><code><a href="{% querystring page=page.next_page_number %}">Next page</a></code></pre>
    <pre class="lang-html"><code><a href="/whatever/?search=biscuits&page=2">Next page</a></code></pre>
</section>

<section>
    <h2>10. Which class would extend to create a custom management command?</h2>
    <ol>
        <li><strong><code>BaseCommand</code></strong>
        <li class=incorrect><code>ManagePyCommand</code>
        <li class=incorrect><code>AdminCommand</code>
        <li class=incorrect><code>Custom</code>
    </ol>
</section>

<section>
    <h2>11. In which city will DjangoCon Europe 2025 be held?</h2>
    <ol>
        <li class=incorrect>Trondheim, Norway
        <li class=incorrect>Porto, Portugal
        <li><strong>Dublin, Ireland</strong>
        <li class=incorrect>Canberra, Australia
    </ol>
    <p><a href=https://2025.djangocon.eu/>2025.djangocon.eu</a></p>
</section>

<section>
    <h2>12. Which model class attribute contains the public API for metadata?</h2>
    <ol>
        <li><strong><code>_meta</code></strong>
        <li class=incorrect><code>meta</code>
        <li class=incorrect><code>Meta</code>
        <li class=incorrect><code>metadata_please</code>
    </ol>
    <pre class="lang-pycon"><code>>>> Octopus._meta.verbose_name_plural
'octopuses'</code></pre>
</section>


<section>
    <h1>🧮 Total and unswap! 🧮</h1>
</section>

<section>
    <h2>🏆 And the winners are…</h2>
</section>

<!-- end presentation -->

            </div>
        </div>

        <script src="/lib/js/head.min.js"></script>
        <script src="/js/reveal.js"></script>

        <script>

            // Full list of configuration options available at:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,

                transition: 'slide', // none/fade/slide/convex/concave/zoom

                // Optional reveal.js plugins
                dependencies: [
                    { src: '/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
                ]
            });

        </script>

    </body>
</html>

<!--
Reveal JS is:

Copyright (C) 2015 Hakim El Hattab, http://hakim.se

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
 -->
